<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{welcome.page.title}">My library</title>
</head>
<body>
	<div class="starter-template">
		<h1 th:text="#{welcome.page.header}">Welcome to online library</h1>
		<h2>
			<a th:href="@{/books}" href="book-list.html"
				th:text="#{welcome.page.books}">Books</a>
		</h2>
		<h2>
			<a th:href="@{/authors}" href="author-list.html"
				th:text="#{welcome.page.authors}">Authors</a>
		</h2>
		<h2>
			<a th:href="@{/genres}" href="genre-list.html"
				th:text="#{welcome.page.genres}">Genres</a>
		</h2>
	</div>
</body>
</html>