<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<beans>
		
		<bean id="questionDao" class="ru.otus.exam.dao.QuestionDaoImpl">
			<property name="path" value="/questions.csv"/>
		</bean>
		
		<bean id="examService" class="ru.otus.exam.service.ExamServiceImpl">
			<constructor-arg name="questionDao" ref="questionDao"/>
			<constructor-arg name="minimumPassRate" value="3"/>
		</bean>
		
	</beans>        
</beans>
